.about {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 100px 40px;
  background: white;
}

.about__content {
  display: flex;
  align-items: start;
  flex-direction: row;
  justify-content: space-between;
  gap: 56px;
}

.about__text-container {
  max-width: 600px;
  margin: 51px 0 0;
  text-align: left;
  color: #1a1b22;
  vertical-align: text-top;
}

.about__title {
  font-size: 40px;
  line-height: 46px;
  margin: 0;
  font-family: "Roboto-Slab-400", sans-serif;
  font-weight: 200;
}

.about__text {
  font-family: "Roboto-400", sans-serif;
  font-size: 18px;
  margin: 24px 0 0;
}

.about__image {
  width: 464px;
  height: 464px;
  border-radius: 250px;
}

@media screen and (max-width: 990px) {
  .about {
    padding: 40px 10px 0;
  }

  .about__content {
    gap: 32px;
  }

  .about__image {
    width: 232px;
    height: 232px;
  }

  .about__text-container {
    margin: 0;
  }

  .about__title {
    font-size: 30px;
  }
  .about__text {
    font-size: 18px;
  }
}

@media screen and (max-width: 750px) {
  .about {
    padding: 32px 16px 0;
  }

  .about__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .about__image {
    width: 272px;
    height: 272px;
  }

  .about__text {
    margin: 16px 0 0 0;
  }
}
