.header {
  /* margin: 0 auto; */
  max-width: 1440px;
  position: relative;
  height: 576px;
}
.header__background-image {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 815px) {
  .header {
    height: 400px;
  }
}

@media screen and (max-width: 550px) {
  .header {
    height: 536px;
  }
}
